@import  "reset.css";
@import "variables.css";

/* Components */
@import "Components/status-bar.css";
@import "Components/nav-bar.css";
@import "Components/screen-header.css";
@import "Components/user-components.css";
@import "Components/badge.css";
@import "Components/icon-row.css";
@import "Components/alt-screen-header.css";
@import "Components/no-mobile.css";
@import "Components/dlsplayFriend.css";



/* Screens */
@import "Screens/login.css";
@import "Screens/friend.css";
@import "Screens/find.css";
@import "Screens/more.css";
@import "Screens/settings.css";
@import "Screens/chat.css";





body {
    color: #2e363e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}

