@import  "reset.css";
@import "variables.css";

/* Components */
@import "Components/status-bar.css";
@import "Components/nav-bar.css";
@import "Components/screen-header.css";
@import "Components/user-components.css";
@import "Components/badge.css";
@import "Components/icon-row.css";

/* Screens */
@import "Screens/login.css";
@import "Screens/friend.css";
@import "Screens/find.css";
@import "Screens/more.css";



body {
    color: #2e363e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}